openapi: 3.1.0
info:
  title: Tradeverifyd Documents Verifiable Credentials API
  description: '

    The Tradeverifyd API offers advanced capabilities for analyzing supply chain entities and their intricate relationships, enabling users to gain deep insights into the complex dynamics of global trade networks.


    For more information visit [tradeverifyd.com](https://tradeverifyd.com).


    If you have questions regarding specific use cases or how to accomplish them, please reach out to [support@tradeverifyd.com](mailto:support@tradeverifyd.com?subject=Tradeverifyd%20use%20cases) for guidance.


    When making requests that require a Tradeverifyd API Key make sure the correct HTTP Header is included.


    For example:


    ```bash

    curl --silent --location -G ''https://.../v1/search/entities'' \

    --data-urlencode ''name=Contoso Corporation'' \

    --data-urlencode ''jurisdiction=US'' \

    --header "ocp-apim-subscription-key: $TRADEVERIFYD_API_KEY"

    ```

    '
  termsOfService: https://tradeverifyd.com/terms-of-service
  contact:
    name: tradeverifyd.com
    url: https://tradeverifyd.com/
    email: support@tradeverifyd.com
  license:
    name: Proprietary License
    url: https://tradeverifyd.com/terms-of-service
  version: 0.2.0
servers:
- url: https://api.tradeverifyd.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Verifiable Credentials
  description: Operations involving verifiable credentials
paths:
  /v1/credentials/issue:
    post:
      tags:
      - Verifiable Credentials
      summary: Issue credential
      description: Issues W3C Traceability compliant verifiable credentials for trade documents. IntentToImport (ITI) credentials are restricted to one per shipment to prevent duplicates. All credentials are encoded in Base64 and stored with the associated shipment.
      operationId: issue_vc_credentials_issue_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestIssueVerifiableCredential'
            examples:
              intent_to_import:
                summary: Intent to Import (ITI) Credential
                description: Full ITI credential for CBP submission with consignee, consignor, commodities, port of entry, vessel, and container details
                value:
                  '@context':
                  - https://www.w3.org/2018/credentials/v1
                  - https://w3id.org/traceability/v1
                  type:
                  - VerifiableCredential
                  - IntentToImportCredential
                  issuer: urn:uuid:organization-123
                  shipment_id: SHIP-2024-001234
                  credentialSubject:
                    id: urn:uuid:shipment-2024-001234
                    consignee:
                      type:
                      - Organization
                      name: ACME Corporation
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 123 Main Street
                        addressLocality: New York
                        addressRegion: NY
                        postalCode: '10001'
                        addressCountry: US
                      identifier:
                        type:
                        - Identifier
                        identifierType: EIN
                        identifierValue: 12-3456789
                    consignor:
                      type:
                      - Organization
                      name: Global Exporters Inc
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 456 Harbor Road
                        addressLocality: Shanghai
                        addressRegion: SH
                        postalCode: '200080'
                        addressCountry: CN
                      identifier:
                        type:
                        - Identifier
                        identifierType: CompanyRegistration
                        identifierValue: CN123456789
                    commodities:
                    - type:
                      - Commodity
                      description: Hot-rolled steel coils
                      commodityCode: '7208.51'
                      commodityCodeType: HTS
                      quantity: 100
                      quantityUnit: MT
                      value:
                        type:
                        - MonetaryAmount
                        value: 50000
                        currency: USD
                    - type:
                      - Commodity
                      description: Aluminum sheets
                      commodityCode: '7606.11'
                      commodityCodeType: HTS
                      quantity: 50
                      quantityUnit: MT
                      value:
                        type:
                        - MonetaryAmount
                        value: 25000
                        currency: USD
                    portOfEntry:
                      type:
                      - Place
                      unLocode: USLAX
                      name: Port of Los Angeles
                    estimatedArrivalDate: '2024-03-15T00:00:00Z'
                    vesselName: COSCO Shipping Pacific
                    voyageNumber: PAC2024-123
                    containerNumbers:
                    - TCLU1234567
                    - TCLU7654321
                    - TCLU9876543
              bill_of_lading:
                summary: Bill of Lading Credential
                description: Digital Bill of Lading following W3C Traceability standards for ocean freight
                value:
                  '@context':
                  - https://www.w3.org/2018/credentials/v1
                  - https://w3id.org/traceability/v1
                  type:
                  - VerifiableCredential
                  - BillOfLadingCredential
                  issuer: urn:uuid:organization-123
                  shipment_id: SHIP-2024-005678
                  credentialSubject:
                    id: urn:uuid:bol-2024-005678
                    billOfLadingNumber: MAEU2024005678
                    carrier:
                      type:
                      - Organization
                      name: Maersk Line
                      identifier:
                        type:
                        - Identifier
                        identifierType: SCAC
                        identifierValue: MAEU
                    shipper:
                      type:
                      - Organization
                      name: European Exports GmbH
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 789 Port Avenue
                        addressLocality: Hamburg
                        postalCode: '20457'
                        addressCountry: DE
                    consignee:
                      type:
                      - Organization
                      name: West Coast Imports LLC
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 321 Ocean Boulevard
                        addressLocality: Los Angeles
                        addressRegion: CA
                        postalCode: '90012'
                        addressCountry: US
                    notifyParty:
                      type:
                      - Organization
                      name: Logistics Solutions Inc
                      contactPoint:
                        type:
                        - ContactPoint
                        telephone: +1-310-555-0100
                        email: notify@logistics-solutions.example
                    portOfLoading:
                      type:
                      - Place
                      unLocode: DEHAM
                      name: Port of Hamburg
                    portOfDischarge:
                      type:
                      - Place
                      unLocode: USLAX
                      name: Port of Los Angeles
                    dateOfShipment: '2024-02-01T00:00:00Z'
                    containers:
                    - type:
                      - Container
                      containerNumber: MSKU1234567
                      sealNumber: SEAL123456
                      containerType: 40HC
                      packages: 500
                      grossWeight:
                        type:
                        - QuantitativeValue
                        value: 24000
                        unitCode: KGM
                    freightCharges:
                      type:
                      - MonetaryAmount
                      value: 3500
                      currency: USD
                    freightPaymentTerms: Prepaid
              custom_credential:
                summary: Custom Trade Credential
                description: Generic trade document credential structure (e.g., Certificate of Origin)
                value:
                  '@context':
                  - https://www.w3.org/2018/credentials/v1
                  - https://w3id.org/traceability/v1
                  type:
                  - VerifiableCredential
                  - CertificateOfOriginCredential
                  issuer: urn:uuid:organization-123
                  shipment_id: SHIP-2024-009012
                  credentialSubject:
                    id: urn:uuid:coo-2024-009012
                    certificateNumber: COO-2024-009012
                    exporter:
                      type:
                      - Organization
                      name: Manufacturing Co Ltd
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 100 Industrial Park
                        addressLocality: Seoul
                        postalCode: '04527'
                        addressCountry: KR
                    importer:
                      type:
                      - Organization
                      name: Tech Imports Inc
                      address:
                        type:
                        - PostalAddress
                        streetAddress: 555 Tech Plaza
                        addressLocality: San Francisco
                        addressRegion: CA
                        postalCode: '94105'
                        addressCountry: US
                    goods:
                    - type:
                      - Product
                      description: Electronic components
                      harmonizedSystemCode: '8541.40'
                      originCountry: KR
                      quantity:
                        type:
                        - QuantitativeValue
                        value: 10000
                        unitCode: EA
                    dateOfIssuance: '2024-02-10T00:00:00Z'
                    certificationBody:
                      type:
                      - Organization
                      name: Korea Chamber of Commerce
        required: true
      responses:
        '200':
          description: Successfully issued verifiable credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedVerifiableCredentialResponse'
              examples:
                iti_credential:
                  summary: Intent to Import (ITI) Credential Response
                  description: Response after successfully issuing an Intent to Import credential for CBP submission
                  value:
                    credential_id: urn:uuid:123e4567-e89b-12d3-a456-426614174000
                    credential_media_type: application/ld+json
                    credential_content: eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSIsImh0dHBzOi8vdzNpZC5vcmcvdHJhY2VhYmlsaXR5L3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJbnRlbnRUb0ltcG9ydENyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46dXVpZDpzaGlwbWVudC0yMDI0LTAwMTIzNCIsImNvbnNpZ25lZSI6eyJuYW1lIjoiQUNNRSBDB3Jwb3JhdGlvbiIsImFkZHJlc3MiOnsic3RyZWV0QWRkcmVzcyI6IjEyMyBNYWluIFN0cmVldCIsImFkZHJlc3NMb2NhbGl0eSI6Ik5ldyBZb3JrIiwiYWRkcmVzc1JlZ2lvbiI6Ik5ZIiwicG9zdGFsQ29kZSI6IjEwMDAxIiwiYWRkcmVzc0NvdW50cnkiOiJVUyJ9fSwiY29uc2lnbm9yIjp7Im5hbWUiOiJHbG9iYWwgRXhwb3J0ZXJzIEluYyIsImFkZHJlc3MiOnsic3RyZWV0QWRkcmVzcyI6IjQ1NiBIYXJib3IgUm9hZCIsImFkZHJlc3NMb2NhbGl0eSI6IlNoYW5naGFpIiwiYWRkcmVzc1JlZ2lvbiI6IlNIIiwicG9zdGFsQ29kZSI6IjIwMDA4MCIsImFkZHJlc3NDb3VudHJ5IjoiQ04ifX0sImNvbW1vZGl0aWVzIjpbeyJkZXNjcmlwdGlvbiI6IkhvdC1yb2xsZWQgc3RlZWwgY29pbHMiLCJjb21tb2RpdHlDb2RlIjoiNzIwOC41MSIsInF1YW50aXR5IjoxMDAsInF1YW50aXR5VW5pdCI6Ik1UIiwidmFsdWUiOjUwMDAwLCJjdXJyZW5jeSI6IlVTRCJ9XSwicG9ydE9mRW50cnkiOiJVU0xBWCIsImVzdGltYXRlZEFycml2YWxEYXRlIjoiMjAyNC0wMy0xNVQwMDowMDowMFoiLCJ2ZXNzZWxOYW1lIjoiQ09TQ08gU2hpcHBpbmcgUGFjaWZpYyIsImNvbnRhaW5lck51bWJlcnMiOlsiVENMVTEyMzQ1NjciLCJUQ0xVNzY1NDMyMSJdfSwiaXNzdWVyIjoidXJuOnV1aWQ6b3JnYW5pemF0aW9uLTEyMyIsImlkIjoidXJuOnV1aWQ6MTIzZTQ1NjctZTg5Yi0xMmQzLWE0NTYtNDI2NjE0MTc0MDAwIiwiaXNzdWFuY2VEYXRlIjoiMjAyNC0wMi0xNVQxMDozMDowMFoifQ==
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                missing_shipment:
                  summary: Missing Shipment ID
                  value:
                    detail: Shipment ID is required
                duplicate_iti:
                  summary: Duplicate ITI Credential
                  value:
                    detail: IntentToImport credential already exists for shipment SHIP-2024-001234
                invalid_structure:
                  summary: Invalid Credential Structure
                  value:
                    detail: 'Invalid credential structure: missing required field ''credentialSubject'''
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/list:
    get:
      tags:
      - Verifiable Credentials
      summary: List credentials
      description: List verifiable credentials for the organization.
      operationId: get_organization_verifiable_credentials_credentials_list_get
      responses:
        '200':
          description: List of verifiable credentials for the organization
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CredentialListItem'
                type: array
                title: Response Get Organization Verifiable Credentials Credentials List Get
              examples:
                multiple_credentials:
                  summary: Multiple verifiable credentials
                  description: Organization with various types of verifiable credentials including ITI and Bill of Lading
                  value:
                  - id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-15T10:30:00Z'
                      credential_status:
                        status: active
                      valid_from: '2024-03-15T00:00:00Z'
                      valid_until: '2025-03-15T00:00:00Z'
                  - id: f47ac10b-58cc-4372-a567-0e02b2c3d480
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6aW52b2ljZToxMjM0NTY3ODkwIiwiaWF0IjoxNzEwNDk4NjAwLCJleHAiOjE3NDIwMzQ2MDAsIm5iZiI6MTcxMDQ5ODYwMCwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL29yLXRyYWNlYWJpbGl0eS5vcmcvdjEiXSwidHlwZSI6WyJWZXJpZmlhYmxlQ3JlZGVudGlhbCIsIkJpbGxPZkxhZGluZ0NyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90Omludm9pY2U6MTIzNDU2Nzg5MCIsInR5cGUiOiJCaWxsT2ZMYWRpbmciLCJzaGlwbWVudF9pZCI6IlNISVAtMjAyNC0wMDE1In19fQ.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: true
                      is_verified: false
                      last_verified: '2024-03-14T15:20:00Z'
                      credential_status:
                        status: active
                      valid_from: '2024-03-14T00:00:00Z'
                      valid_until: '2025-03-14T00:00:00Z'
                  - id: f47ac10b-58cc-4372-a567-0e02b2c3d481
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Y29vOjEyMzQ1Njc4OTAiLCJpYXQiOjE3MTA0OTg2MDAsImV4cCI6MTc0MjAzNDYwMCwibmJmIjoxNzEwNDk4NjAwLCJ2YyI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSIsImh0dHBzOi8vb3ItdHJhY2VhYmlsaXR5Lm9yZy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIiwiQ2VydGlmaWNhdGVPZk9yaWdpbkNyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90OmNvbzoxMjM0NTY3ODkwIiwidHlwZSI6IkNlcnRpZmljYXRlT2ZPcmlnaW4iLCJjb3VudHJ5X29mX29yaWdpbiI6IkNOIn19fQ.SIGNATURE_PLACEHOLDER
                single_credential:
                  summary: Single credential
                  description: Organization with only one verifiable credential
                  value:
                  - id: f47ac10b-58cc-4372-a567-0e02b2c3d482
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGE5ODc2NTQzMjEiLCJ0eXBlIjoiSVRJIiwic2hpcG1lbnRfaWQiOiJTSElQLTIwMjQtMDAyMyJ9fX0.mF2qN9vX7rK8eP4wT1sH6jQ3bY8cV5zL9nR2gU3dA7f
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-16T08:45:00Z'
                      credential_status:
                        status: active
                      valid_from: '2024-03-16T00:00:00Z'
                      valid_until: '2025-03-16T00:00:00Z'
                empty_list:
                  summary: No credentials
                  description: Organization with no verifiable credentials
                  value: []
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
  /v1/credentials/list/shipment/{shipment_id}:
    get:
      tags:
      - Verifiable Credentials
      summary: List credentials by shipment
      description: List verifiable credentials for a specific shipment.
      operationId: get_shipment_verifiable_credentials_credentials_list_shipment__shipment_id__get
      parameters:
      - name: shipment_id
        in: path
        required: true
        schema:
          type: string
          description: The shipment ID to filter credentials by
          title: Shipment Id
        description: The shipment ID to filter credentials by
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialListItem'
                title: Response Get Shipment Verifiable Credentials Credentials List Shipment  Shipment Id  Get
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/details/{verifiable_credential_id}:
    get:
      tags:
      - Verifiable Credentials
      summary: Get credential details
      description: Get detailed information about a specific verifiable credential for the organization
      operationId: get_organization_verifiable_credential_details_credentials_details__verifiable_credential_id__get
      parameters:
      - name: verifiable_credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Verifiable Credential Id
      responses:
        '200':
          description: Credential details retrieved successfully
          content:
            application/json:
              schema:
                title: Response Get Organization Verifiable Credential Details Credentials Details  Verifiable Credential Id  Get
                $ref: '#/components/schemas/CredentialListItem'
                nullable: true
              examples:
                iti_credential:
                  summary: ITI Credential Details
                  description: Intent To Import credential with complete validation information
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUiLCJjdXN0b21zX2VudHJ5X251bWJlciI6IkVOLTIwMjQtMDAwMTUiLCJpbXBvcnRlciI6eyJuYW1lIjoiVGVjaENvcnAgSW5jLiIsImFkZHJlc3MiOiIxMjMgTWFpbiBTdCwgTmV3IFlvcmssIE5ZIDI5OTAyIn0sInByb2R1Y3RzIjpbeyJkZXNjcmlwdGlvbiI6IkVsZWN0cm9uaWMgY29tcG9uZW50cyIsImhzX2NvZGUiOiI4NTQyLjMxIn1dfX19.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-15T10:30:00Z'
                      credential_status:
                        status: active
                      valid_from: '2024-03-15T00:00:00Z'
                      valid_until: '2025-03-15T00:00:00Z'
                bill_of_lading:
                  summary: Bill of Lading Credential
                  description: Bill of Lading credential for international shipment with carrier verification
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d480
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJCaWxsT2ZMYWRpbmdDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDppbnZvaWNlOjEyMzQ1Njc4OTAiLCJ0eXBlIjoiQmlsbE9mTGFkaW5nIiwic2hpcG1lbnRfaWQiOiJTSElQLTIwMjQtMDAxNSIsImNhcnJpZXIiOiJNYWVyc2sgTGluZSIsImRlcGFydHVyZV9wb3J0IjoiUG9ydCBvZiBTaGFuZ2hhaSIsImFycml2YWxfcG9ydCI6IlBvcnQgb2YgTG9zIEFuZ2VsZXMifX19.vSR4hTM6vvQJHgKhJfmZQpF8fP-5u1RaP3qHxVpZ2g8
                    last_validation:
                      is_valid: true
                      is_verified: false
                      last_verified: '2024-03-14T15:20:00Z'
                      credential_status:
                        status: active
                      valid_from: '2024-03-14T00:00:00Z'
                      valid_until: '2025-03-14T00:00:00Z'
                certificate_of_origin:
                  summary: Certificate of Origin
                  description: Certificate of Origin for goods manufactured in Korea with chamber attestation
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d481
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJDZXJ0aWZpY2F0ZU9mT3JpZ2luQ3JlZGVudGlhbCJdLCJjcmVkZW50aWFsU3ViamVjdCI6eyJpZCI6InVybjppb3Q6aW52b2ljZToxMjM0NTY3ODkwIiwidHlwZSI6IkNlcnRpZmljYXRlT2ZPcmlnaW4iLCJzaGlwbWVudF9pZCI6IlNISVAtMjAyNC0wMDE1IiwiY291bnRyeV9vZl9vcmlnaW4iOiJLUiIsIm1hbnVmYWN0dXJlciI6IlNhbXN1bmcgRWxlY3Ryb25pY3MiLCJhdHRlc3RhdGlvbiI6eyJpc3N1ZXIiOiJLb3JlYSBDaGFtYmVyIG9mIENvbW1lcmNlIiwiZGF0ZSI6IjIwMjQtMDMtMTQifX19.xZ8N6qV2rF4hDwP9cT7eM8sK1bJ5gXyU0wH3nLvE9pQ
                    last_validation:
                      is_valid: false
                      is_verified: true
                      last_verified: '2024-03-13T09:45:00Z'
                      credential_status:
                        status: expired
                      valid_from: '2024-03-13T00:00:00Z'
                      valid_until: '2024-03-13T23:59:59Z'
                invalid_credential:
                  summary: Invalid Credential
                  description: Credential that failed validation due to signature issues
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d482
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.INVALID_SIGNATURE
                    last_validation:
                      is_valid: false
                      is_verified: false
                      last_verified: '2024-03-12T14:30:00Z'
                      credential_status:
                        status: revoked
        '404':
          description: Credential not found
          content:
            application/json:
              examples:
                not_found:
                  summary: Credential does not exist
                  value:
                    detail: Credential not found.
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/details/{verifiable_credential_id}/pdf:
    get:
      tags:
      - Verifiable Credentials
      summary: Get credential formatted as PDF
      description: Formatted PDF of a verifiable credential
      operationId: get_organization_verifiable_credential_details_pdf_credentials_details__verifiable_credential_id__pdf_get
      parameters:
      - name: verifiable_credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The ID of the verifiable credential to retrieve.
          title: Verifiable Credential Id
        description: The ID of the verifiable credential to retrieve.
      responses:
        '200':
          description: PDF document
          content:
            application/pdf: {}
        '404':
          description: Credential not found
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/validation/{verifiable_credential_id}:
    get:
      tags:
      - Verifiable Credentials
      summary: Validate credential
      description: Verifies the digital siganture, validates the credential schema, checks the credential status and stores the result.
      operationId: get_vc_validation_credentials_validation__verifiable_credential_id__get
      parameters:
      - name: verifiable_credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Verifiable Credential Id
      responses:
        '200':
          description: Credential validation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListItem'
              examples:
                valid_iti_credential:
                  summary: Valid ITI credential with successful validation
                  description: Intent To Import credential that passed all validation checks including signature verification, schema validation, and status checks
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-15T10:30:00Z'
                      signature_valid: true
                      schema_valid: true
                      status_valid: true
                      valid_until: '2025-03-15T00:00:00Z'
                invalid_signature:
                  summary: Invalid credential with signature failure
                  description: Credential that failed digital signature verification during validation process
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d482
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.INVALID_SIGNATURE
                    last_validation:
                      is_valid: false
                      is_verified: false
                      last_verified: '2024-03-12T14:30:00Z'
                      signature_valid: false
                      schema_valid: true
                      status_valid: true
                      error_message: Digital signature verification failed
                      valid_until: '2025-03-12T00:00:00Z'
                schema_validation_failed:
                  summary: Schema validation failure
                  description: Credential with valid signature but schema validation errors
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d483
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Y29vOjEyMzQ1Njc4OTAiLCJpYXQiOjE3MTA0OTg2MDAsImV4cCI6MTc0MjAzNDYwMCwibmJmIjoxNzEwNDk4NjAwLCJ2YyI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSIsImh0dHBzOi8vb3ItdHJhY2VhYmlsaXR5Lm9yZy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIiwiSW52b2ljZUNyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90OmNvbzoxMjM0NTY3ODkwIn19fQ.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: false
                      is_verified: true
                      last_verified: '2024-03-13T09:45:00Z'
                      signature_valid: true
                      schema_valid: false
                      status_valid: true
                      error_message: Required field 'type' missing from credentialSubject
                      valid_until: '2025-03-13T00:00:00Z'
                no_validation_performed:
                  summary: Credential not yet validated
                  description: Credential exists but validation has not been performed yet
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d484
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6aW52b2ljZToxMjM0NTY3ODkwIiwiaWF0IjoxNzEwNDk4NjAwLCJleHAiOjE3NDIwMzQ2MDAsIm5iZiI6MTcxMDQ5ODYwMCwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL29yLXRyYWNlYWJpbGl0eS5vcmcvdjEiXSwidHlwZSI6WyJWZXJpZmlhYmxlQ3JlZGVudGlhbCIsIkJpbGxPZkxhZGluZ0NyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90Omludm9pY2U6MTIzNDU2Nzg5MCIsInR5cGUiOiJCaWxsT2ZMYWRpbmciLCJzaGlwbWVudF9pZCI6IlNISVAtMjAyNC0wMDQ3In19fQ.SIGNATURE_PLACEHOLDER
        '404':
          description: Credential not found
          content:
            application/json:
              examples:
                credential_not_found:
                  summary: Credential not found
                  value:
                    detail: Verifiable credential not found
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/document/validation/{document_path}:
    get:
      tags:
      - Verifiable Credentials
      summary: Validate document
      description: Verifies the digital signature, validates the credential schema, checks the credential status and stores the result.
      operationId: get_document_validation_credentials_document_validation__document_path__get
      parameters:
      - name: document_path
        in: path
        required: true
        schema:
          type: string
          description: The path to the document to validate
          title: Document Path
        description: The path to the document to validate
      responses:
        '200':
          description: Document validation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListItem'
              examples:
                pdf_bill_of_lading_valid:
                  summary: Valid PDF Bill of Lading document
                  description: PDF document containing a Bill of Lading that passed validation including digital signature verification and schema compliance
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d485
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6aW52b2ljZToxMjM0NTY3ODkwIiwiaWF0IjoxNzEwNDk4NjAwLCJleHAiOjE3NDIwMzQ2MDAsIm5iZiI6MTcxMDQ5ODYwMCwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL29yLXRyYWNlYWJpbGl0eS5vcmcvdjEiXSwidHlwZSI6WyJWZXJpZmlhYmxlQ3JlZGVudGlhbCIsIkJpbGxPZkxhZGluZ0NyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90Omludm9pY2U6MTIzNDU2Nzg5MCIsInR5cGUiOiJCaWxsT2ZMYWRpbmciLCJzaGlwbWVudF9pZCI6IlNISVAtMjAyNC0wMDQ3In19fQ.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-16T14:22:00Z'
                      signature_valid: true
                      schema_valid: true
                      status_valid: true
                      document_format: PDF
                      extracted_credential: true
                      valid_until: '2025-03-16T00:00:00Z'
                json_certificate_origin_valid:
                  summary: Valid JSON Certificate of Origin
                  description: JSON document with embedded Certificate of Origin credential that passed all validation checks
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d486
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Y29vOjEyMzQ1Njc4OTAiLCJpYXQiOjE3MTA0OTg2MDAsImV4cCI6MTc0MjAzNDYwMCwibmJmIjoxNzEwNDk4NjAwLCJ2YyI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSIsImh0dHBzOi8vb3ItdHJhY2VhYmlsaXR5Lm9yZy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIiwiQ2VydGlmaWNhdGVPZk9yaWdpbkNyZWRlbnRpYWwiXSwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJ1cm46aW90OmNvbzoxMjM0NTY3ODkwIiwidHlwZSI6IkNlcnRpZmljYXRlT2ZPcmlnaW4iLCJjb3VudHJ5X29mX29yaWdpbiI6IkNOIn19fQ.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: true
                      is_verified: true
                      last_verified: '2024-03-16T11:15:00Z'
                      signature_valid: true
                      schema_valid: true
                      status_valid: true
                      document_format: JSON
                      extracted_credential: true
                      valid_until: '2025-03-16T00:00:00Z'
                document_parse_failure:
                  summary: Document parsing failed
                  description: Document exists but credential extraction failed due to unsupported format or corrupted content
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d487
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.SIGNATURE_PLACEHOLDER
                    last_validation:
                      is_valid: false
                      is_verified: false
                      last_verified: '2024-03-14T16:30:00Z'
                      signature_valid: false
                      schema_valid: false
                      status_valid: false
                      document_format: UNKNOWN
                      extracted_credential: false
                      error_message: Failed to extract credential from document
                xml_invoice_invalid_signature:
                  summary: XML document with invalid signature
                  description: XML invoice document where credential was extracted successfully but digital signature verification failed
                  value:
                    id: f47ac10b-58cc-4372-a567-0e02b2c3d488
                    media_type: application/vc+jwt
                    content: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJkaWQ6a2V5OnpRMWMxZTZhMiIsInN1YiI6InVybjppb3Q6Z3hhMTIzNDU2Nzg5MCIsImlhdCI6MTcxMDQ5ODYwMCwiZXhwIjoxNzQyMDM0NjAwLCJuYmYiOjE3MTA0OTg2MDAsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9vci10cmFjZWFiaWxpdHkub3JnL3YxIl0sInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiLCJJVElDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoidXJuOmlvdDpneGExMjM0NTY3ODkwIiwidHlwZSI6IklUSSIsInNoaXBtZW50X2lkIjoiU0hJUC0yMDI0LTAwMTUifX19.INVALID_SIGNATURE
                    last_validation:
                      is_valid: false
                      is_verified: false
                      last_verified: '2024-03-13T12:45:00Z'
                      signature_valid: false
                      schema_valid: true
                      status_valid: true
                      document_format: XML
                      extracted_credential: true
                      error_message: Digital signature verification failed
                      valid_until: '2025-03-13T00:00:00Z'
        '404':
          description: Document not found
          content:
            application/json:
              examples:
                document_not_found:
                  summary: Document path not found
                  value:
                    detail: Document not found at specified path
                invalid_document_path:
                  summary: Invalid document path format
                  value:
                    detail: Invalid document path format
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/credentials/schemas:
    get:
      tags:
      - Verifiable Credentials
      summary: Get schemas
      description: Get all schemas
      operationId: get_schemas_credentials_schemas_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CredentialSchemaListItem'
                type: array
                title: Response Get Schemas Credentials Schemas Get
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
  /v1/credentials/schemas/{schema_name}:
    get:
      tags:
      - Verifiable Credentials
      summary: Get schema by name
      description: Get schema by name
      operationId: get_schema_by_name_credentials_schemas__schema_name__get
      parameters:
      - name: schema_name
        in: path
        required: true
        schema:
          type: string
          description: The name of the schema to retrieve
          title: Schema Name
        description: The name of the schema to retrieve
      responses:
        '200':
          description: Credential schema definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialSchema'
              examples:
                iti_credential_schema:
                  summary: Intent To Import (ITI) Credential Schema
                  description: JSON Schema for ITI credentials submitted to US Customs for import trade documentation compliance
                  value:
                    $id: https://app.tradeverifyd.example/templates/urn:tradeverifyd:template:iti-credential
                    title: Intent To Import Credential Schema
                    description: Schema for Intent To Import verifiable credentials containing trade documentation for US Customs submission
                    type: object
                    properties:
                      '@context':
                        type: array
                        items:
                          type: string
                        description: JSON-LD context for the credential
                      type:
                        type: array
                        items:
                          type: string
                        description: Credential type array
                      issuer:
                        type: string
                        description: DID of the credential issuer
                      credentialSubject:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Subject identifier
                          type:
                            type: string
                            enum:
                            - ITI
                          shipment_id:
                            type: string
                            description: Associated shipment ID
                          customs_entry_number:
                            type: string
                            description: CBP entry number
                          importer:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                              ein:
                                type: string
                            required:
                            - name
                            - address
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                description:
                                  type: string
                                hs_code:
                                  type: string
                                quantity:
                                  type: number
                                value:
                                  type: number
                              required:
                              - description
                              - hs_code
                              - quantity
                              - value
                        required:
                        - id
                        - type
                        - shipment_id
                        - importer
                        - products
                    additionalProperties: false
                    required:
                    - '@context'
                    - type
                    - issuer
                    - credentialSubject
                    example: Example ITI credential structure for electronics import
                bill_of_lading_schema:
                  summary: Bill of Lading Credential Schema
                  description: JSON Schema for Bill of Lading credentials used in international shipping documentation
                  value:
                    $id: https://app.tradeverifyd.example/templates/urn:tradeverifyd:template:bill-of-lading
                    title: Bill of Lading Credential Schema
                    description: Schema for Bill of Lading verifiable credentials for international shipping
                    type: object
                    properties:
                      '@context':
                        type: array
                        items:
                          type: string
                        description: JSON-LD context for the credential
                      type:
                        type: array
                        items:
                          type: string
                        description: Credential type array
                      issuer:
                        type: string
                        description: DID of the credential issuer (typically carrier)
                      credentialSubject:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Subject identifier
                          type:
                            type: string
                            enum:
                            - BillOfLading
                          shipment_id:
                            type: string
                            description: Associated shipment ID
                          bill_of_lading_number:
                            type: string
                            description: Unique B/L number
                          carrier:
                            type: object
                            properties:
                              name:
                                type: string
                              scac:
                                type: string
                                description: Standard Carrier Alpha Code
                            required:
                            - name
                            - scac
                          shipper:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                            required:
                            - name
                            - address
                          consignee:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                            required:
                            - name
                            - address
                          port_of_loading:
                            type: string
                            description: Origin port
                          port_of_discharge:
                            type: string
                            description: Destination port
                          vessel_name:
                            type: string
                            description: Ship name
                          voyage_number:
                            type: string
                            description: Voyage identifier
                        required:
                        - id
                        - type
                        - shipment_id
                        - bill_of_lading_number
                        - carrier
                        - shipper
                        - consignee
                    additionalProperties: false
                    required:
                    - '@context'
                    - type
                    - issuer
                    - credentialSubject
                    example: Example Bill of Lading credential for ocean freight
                certificate_origin_schema:
                  summary: Certificate of Origin Schema
                  description: JSON Schema for Certificate of Origin credentials used to certify the country where goods were manufactured
                  value:
                    $id: https://app.tradeverifyd.example/templates/urn:tradeverifyd:template:certificate-of-origin
                    title: Certificate of Origin Schema
                    description: Schema for Certificate of Origin verifiable credentials
                    type: object
                    properties:
                      '@context':
                        type: array
                        items:
                          type: string
                        description: JSON-LD context
                      type:
                        type: array
                        items:
                          type: string
                        description: Credential types
                      issuer:
                        type: string
                        description: DID of issuing chamber of commerce or authority
                      credentialSubject:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Subject identifier
                          type:
                            type: string
                            enum:
                            - CertificateOfOrigin
                          shipment_id:
                            type: string
                            description: Associated shipment ID
                          country_of_origin:
                            type: string
                            description: ISO 3166-1 alpha-2 country code
                          manufacturer:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                              registration_number:
                                type: string
                            required:
                            - name
                            - address
                          goods:
                            type: array
                            items:
                              type: object
                              properties:
                                description:
                                  type: string
                                hs_code:
                                  type: string
                                quantity:
                                  type: number
                                gross_weight:
                                  type: number
                              required:
                              - description
                              - hs_code
                              - quantity
                          attestation:
                            type: object
                            properties:
                              issuer:
                                type: string
                                description: Attesting authority
                              date:
                                type: string
                                format: date
                              certificate_number:
                                type: string
                            required:
                            - issuer
                            - date
                            - certificate_number
                        required:
                        - id
                        - type
                        - shipment_id
                        - country_of_origin
                        - manufacturer
                        - goods
                        - attestation
                    additionalProperties: false
                    required:
                    - '@context'
                    - type
                    - issuer
                    - credentialSubject
                    example: Example Certificate of Origin for manufactured goods
        '404':
          description: Schema not found
          content:
            application/json:
              examples:
                schema_not_found:
                  summary: Schema not found
                  value:
                    detail: Schema not found.
        '500':
          description: Internal server error - contact support
          content:
            application/json:
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    detail: Internal server error
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    CredentialSchemaListItem:
      properties:
        schema_id:
          type: string
          title: Schema Id
          description: The unique identifier for the schema
        title:
          type: string
          title: Title
          description: The title of the schema
        schema_name:
          type: string
          title: Schema Name
          description: The name of the schema, used to get the schema details
      type: object
      required:
      - schema_id
      - title
      - schema_name
      title: CredentialSchemaListItem
      description: Credential schema list item with just the schema id and title
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CredentialListItem:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Identifier for the verifiable credential
        media_type:
          type: string
          title: Media Type
          description: Media type of the verifiable credential
        content:
          type: string
          title: Content
          description: The verifiable credential
        last_validation:
          title: Last Validation
          description: The last validation result of the verifiable credential
          additionalProperties: true
          type: object
          nullable: true
        source_file_id:
          title: Source File Id
          description: UUID of the source document from which this credential was generated, null for manually issued credentials
          type: string
          format: uuid
          nullable: true
      type: object
      required:
      - id
      - media_type
      - content
      - last_validation
      - source_file_id
      title: CredentialListItem
      description: Credential list item
    RequestIssueVerifiableCredential:
      properties:
        id:
          title: Id
          type: string
          nullable: true
        type:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Type
        issuer:
          anyOf:
          - type: string
          - additionalProperties: true
            type: object
          title: Issuer
        validFrom:
          title: Validfrom
          type: string
          nullable: true
        validUntil:
          title: Validuntil
          type: string
          nullable: true
        credentialSubject:
          additionalProperties: true
          type: object
          title: Credentialsubject
        proof:
          title: Proof
          additionalProperties: true
          type: object
          nullable: true
        credentialStatus:
          title: Credentialstatus
          additionalProperties: true
          type: object
          nullable: true
        credentialSchema:
          title: Credentialschema
          additionalProperties: true
          type: object
          nullable: true
        context:
          items:
            type: string
            minLength: 1
            format: uri
          type: array
          title: Context
        shipment_id:
          title: Shipment Id
          description: The shipment id of the shipment
          type: string
          nullable: true
        folder_name:
          title: Folder Name
          description: The folder name of the folder within the shipment
          type: string
          nullable: true
      additionalProperties: true
      type: object
      required:
      - type
      - issuer
      - credentialSubject
      - shipment_id
      - folder_name
      title: RequestIssueVerifiableCredential
      description: 'User supplied verifiable credential claimset

        This model is updated / modified by the server before issuance

        Be careful trusting user supplied data'
    IssuedVerifiableCredentialResponse:
      properties:
        credential_id:
          type: string
          title: Credential Id
          description: The id of the issued verifiable credential
        credential_media_type:
          type: string
          title: Credential Media Type
          description: The media type of the issued verifiable credential
        credential_content:
          type: string
          format: binary
          title: Credential Content
          description: The content of the issued verifiable credential
      type: object
      required:
      - credential_id
      - credential_media_type
      - credential_content
      title: IssuedVerifiableCredentialResponse
      description: Issued verifiable credential response
    CredentialSchema:
      properties:
        $id:
          type: string
          title: $Id
          description: The unique identifier for the schema
        title:
          type: string
          title: Title
          description: The title of the schema
        description:
          type: string
          title: Description
          description: Description of the schema
        type:
          type: string
          title: Type
          description: The type of the schema
          default: object
        properties:
          additionalProperties: true
          type: object
          title: Properties
          description: The properties of the schema
        additionalProperties:
          type: boolean
          title: Additionalproperties
          description: Whether additional properties are allowed
          default: false
        required:
          items:
            type: string
          type: array
          title: Required
          description: List of required properties
        example:
          title: Example
          description: Example of the schema
          type: string
          nullable: true
      additionalProperties: true
      type: object
      required:
      - $id
      - title
      - description
      - properties
      - required
      title: CredentialSchema
      description: Credential schema for defining the structure of verifiable credentials.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: ocp-apim-subscription-key
